extends ../layout


block header
  title
    | About Hermaia
  link(rel= "stylesheet", href= "/assets/css/about.css")

block content
  include ../components/navbar
  +navbar("/about")
  
  
  div.jumbotron
    div.container
      h1
        | Hermaia
      
      p.lead
        | I will be better !!




  include ../components/footer



block script
  script(type="text/javascript" src="/assets/js/about.js")
